/*
 Define your own css variables in this file
 You can define semantic variables derived from open props variables, and they will automatically be added to your bundle
 They wil lalso be provided during autocompletion in css files or vue SFC style blocks in VS code if you have the CSS Var complete extension
 To add other files to the autocompletion, edit the file located at .vscode/settings.json
*/

:root {
    --link: var(--indigo-7);
  --link-visited: var(--link);

  --text-1: var(--gray-10);
  --text-2: var(--gray-8);

  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);

  --radius-pill: 9999px;
}

html.dark {
  --link: var(--indigo-3);
  --link-visited: var(--link);
  
  --text-1: var(--gray-1);
  --text-2: var(--gray-4);
  
  --surface-1: var(--gray-10);
  --surface-2: var(--gray-9);
  --surface-3: var(--gray-8);
  --surface-4: var(--gray-7); 
}
